<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Quản lý lịch tiêm</li>
        <li class="active"><a href="#">Lịch tiêm chủng</a></li>
        <li><a href="#">Các mũi đã tiêm</a></li>
        <li><a href="#">Các mũi sắp tiêm</a></li>
        <li class="divider"></li>
        <li class="nav-header">Cấu hình chung</li>
        <li><a href="#">Thông tin của con</a></li>
        <li><a href="#">Cấu hình thông báo</a></li>
    </ul>
</div>
<!--/.well -->
