<ul class="nav nav-pills pull-right">
    <li class="active">@Html.ActionLink("Trang chủ", "Index", "Home")</li>
    <li>@Html.ActionLink("Giới thiệu", "About", "Home")</li>
    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
</ul>
